* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
}

.black-head {
  background-color: #191c1f;
  padding: 10px 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.black-friday {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tilted-black {
  background-color: #f3de6d;
  color: #191c1f;
  padding: 10px;

  transform: rotate(-5deg);
}

.upto-59-off {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.off-percent {
  color: #ebc80c;
  font-size: 30px;
}

.shop-now {
  background-color: #ebc80c;
  color: #191c1f;
  padding: 10px;
  border: none;
  border-radius: 2px;
  display: flex;
  gap: 10px;
}

.about-head,
.main-head {
  padding: 20px 60px;
  background-color: #1b6392;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  box-shadow: 0px -1px 0px 0px #ffffff29 inset;
  font-size: 14px;
}

.about-head i {
  font-size: 16px;
}

.right-head-links {
  display: flex;
  gap: 30px;
}

.social {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.logo p {
  font-size: 30px;
  font-weight: 600;
}

.input-search {
  background-color: #fff;
  box-shadow: 0px 8px 32px 0px #00000014;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
  border-radius: 2px;
}

.input-text {
  border: none;
  color: #77878f;
  width: 100%;
}

.input-text:focus {
  outline: none;
}

.head-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
}

.go-to-cart {
  cursor: pointer;
}

.items-in-cart {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b6392;
  background-color: #fff;
  border-radius: 50%;
  left: 20px;
  bottom: 17px;
}

section {
  padding: 20px 60px;
}

.top-sections {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  box-shadow: 0px -1px 0px 0px #e4e7e9 inset;
}

.top-sections i {
  font-size: 16px;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #5f6c72;
  padding: 20px;
}

.all-category {
  background-color: #f2f4f5;
  color: #191c1f;
}

.best-deals {
  font-size: 24px;
  padding: 30px 0;
}

.static-products {
  display: grid;
  grid-template-columns: 1.3fr repeat(4, 1fr);
  border-top: 1px solid #e4e7e9;
  border-left: 1px solid #e4e7e9;
  cursor: pointer;
}

.static-product:nth-child(1) {
  grid-row: 1/3;
}

.static-product {
  padding: 15px;
  border-right: 1px solid #e4e7e9;
  border-bottom: 1px solid #e4e7e9;
  border-collapse: collapse;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.static-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.five-star {
  display: flex;
  gap: 5px;
  color: #ebc80c;
}

.star {
  font-size: 14px;
}

.ps5-desc {
  color: #5f6c72;
  font-size: 14px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
}

.badge-text {
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.pro-name {
  color: #191c1f;
  font-size: 14px;
}

.pro-price {
  margin-top: 5px;
  color: #2da5f3;
  font-size: 14px;
}

.crossed-price {
  color: #929fa5;
  text-decoration: line-through;
}

.ps5-down-section {
  display: flex;
  gap: 5px;
}

.ps5-icon {
  background-color: #ffe7d6;
  padding: 10px;
}

.ps5-add-cart {
  width: 100%;
  padding: 10px;
  background-color: #fa8232;
  color: #fff;
  text-align: center;
}

.middle-text {
  color: #191c1f;
  font-size: 32px;
  text-align: center;
  padding: 40px;
}

.carousel {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  padding: 24px;
  border: 1px solid #e4e7e9;
  border-radius: 2px;
}

.carousel-name {
  margin-top: 10px;
  text-align: center;
}

.carousel-arrow {
  position: relative;
}

.arrows {
  width: 103%;
  display: flex;
  justify-content: space-between;
  top: 40%;
  left: calc(0% - 20px);
  position: absolute;
}

.leftarrow,
.rightarrow {
  font-size: 18px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa8232;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.sectioned-items {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-item {
  display: flex;
  align-items: center;
  border: 1px solid #e4e7e9;
  padding: 10px;
  gap: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.main-footer {
  background-color: #191c1f;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 80px 60px;
}

.foot-head {
  font-size: 16px;
  margin-bottom: 25px;
  color: #fff;
}

.foot-list {
  font-size: 14px;
  color: #929fa5;
}
.foot-list p {
  margin-bottom: 20px;
}

.app-link {
  background-color: #303639;
  padding: 20px;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.popular-tag-container {
  width: 25%;
}

.popular-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popular-tags p {
  padding: 10px;

  border: 1px solid #303639;
  color: #fff;
  font-size: 12px;
}

.copyright {
  background-color: #191c1f;
  color: #adb7bc;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px #303639 inset;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-body {
  position: relative;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.modal-close {
  position: absolute;
  font-size: 45px;
  font-weight: 200;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191c1f;
  color: #fff;
  left: calc(100% + 20px);
  bottom: calc(100% - 50px);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #656565;
  text-decoration: none;
  cursor: pointer;
}

.modal-img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e7e9;
  border-radius: 2px;
}

.modal-img {
  height: 300px;
}

.item-rating {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.item-specs {
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.item-specs span {
  font-weight: 500;
}

.item-price {
  padding: 25px 0;
  border-bottom: 1px solid #e4e7e9;
}

.modal-price {
  color: #2da5f3;
}

.modal-price-crossed {
  color: #929fa5;
  text-decoration: line-through;
}

.buy-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 20px;
}

.quantity {
  display: flex;
  border: 2px solid #e4e7e9;
  border-radius: 2px;
  max-width: min-content;
}

.minus,
.plus,
.quantity-no {
  padding: 10px 15px;
}

.minus i,
.plus i {
  pointer-events: none;
}

.item-add-cart {
  background-color: #fa8232;
  padding: 10px 40px;
  color: #fff;
  border-radius: 2px;
}

.buy-now {
  padding: 10px 23px;
  border: 2px solid #fa8232;
  color: #fa8232;
  font-weight: 600;
  border-radius: 2px;
}

/*     Cart Page     */

.cart-container {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.shopping-cart,
.cart-total {
  border: 1px solid #e4e7e9;
  border-radius: 5px;
}

.shopping-cart {
  width: 70%;
}

.home-link {
  font-size: 14px;
  display: flex;
  color: #5f6c72;
  padding: 20px 60px;
  align-items: center;
  gap: 10px;
  background-color: #f2f4f5;
  margin: 40px 0;
}

.cart-pro-heading {
  display: flex;
  background-color: #f2f4f5;
  padding: 20px 30px;
  font-size: 12px;
  border-top: 1px solid #e4e7e9;
  border-bottom: 1px solid #e4e7e9;
}

.cart-product-container {
  display: none;
}

.cart-product {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 14px;
}

.cart-product-details {
  display: flex;
  align-items: center;
}

.cart-product-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  padding: 7px;
  border: 1.5px solid #929fa5;
  color: #929fa5;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.return-update {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 1px solid #e4e7e9;
}

.return,
.update {
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #2da5f3;
  color: #2da5f3;
  padding: 20px;
  cursor: pointer;
}

.cart-total {
  padding: 30px;
  width: 30%;
  height: fit-content;
}

.amount-desc {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
}

.amount-label {
  color: #5f6c72;
}

.amount {
  font-weight: 500;
}

.total {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #e4e7e9;
  margin-top: 10px;
}

.proceed-button {
  background-color: #fa8232;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.youtube {
  height: 300px;
  width: 500px;
  margin: 200px;
}
